.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.product-details {
  text-align: center;
}

.product-image {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-price {
  font-size: 1.2em;
  color: #27ae60;
  margin-top: 10px;
}

.back-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #2980b9;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
}

.product-info {
  padding: 10px;
  text-align: center;
}

.product-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.not-found-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  width: 400px;
  height: 400px;
}
